<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/images/library_icon.png"> 
    <title>{{ title }}</title>

    <link rel="stylesheet" href="../static/css/bulma.min.css" />  <!-- https://bulma.io/documentation/components/navbar/ -->

    <script src="../static/js/extern/jquery-3.5.1.min.js"></script>
</head>
<body>
<section class="hero is-fullheight" style="background-color:#C4FCEF;">
    <div class="hero-head">
        <nav class="navbar">
            <div id="navbarMenuHeroA" class="navbar-menu">
                <div class="navbar-start">
                    <a href="{{ url_for('index') }}" class="navbar-item">
                        Home
                    </a>
                    <a href="{{ url_for('profile') }}" class="navbar-item">
                        Profile
                    </a>
                    <a href="{{ url_for('login') }}" class="navbar-item">
                        Login
                    </a>
                    <a href="{{ url_for('register') }}" class="navbar-item">
                        Sign Up
                    </a>
                    <a href="{{ url_for('logout') }}" class="navbar-item">
                        Logout
                    </a>
                    <a href="{{ url_for('forgotPassword') }}" class="navbar-item">
                        Forgot-Password
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}{% endblock %}
        </div>
    </div>
</section>
</body>
</html>