<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/images/library_icon.png">
    <title>Book Search Results</title>

    <!-- Javascript Includes (in alphabetical order)-->
    <!-- Library Includes -->
    <script src="../static/js/extern/jquery-3.5.1.min.js"></script>

    <!-- Project Includes -->

</head>
<body>

Checkout of {{ book_title }} {{ success_status }}! Due {{ due_date }}.
<br>

    <br>
    <button onclick="window.location.href='/' ">
        Return to Main Menu
    </button>
</body>


</html>