<head>
    <link rel="icon" href="../static/images/library_icon.png"> 
    <title>{{ title }}</title>
</head>

<body>
    <p>Forgot Your Password? Enter your account's username and library card number</p>
    {% block content %}
        <h1>Reset Password</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.card_num.label }}<br>
                {{ form.card_num(size=32) }}
                {% for error in form.card_num.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.new_password.label }}<br>
                {{ form.new_password(size=32) }}
                {% for error in form.new_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {% include "flash.html" %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endblock %}
</body>
