{% extends "base.html" %}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/images/library_icon.png">
    <title>{{ title }}</title>

    <!-- Javascript Includes (in alphabetical order)-->
    <!-- Library Includes -->
    <script src="../static/js/extern/jquery-3.5.1.min.js"></script>

    <!-- Project Includes -->
    <!-- <script type="module" src="../static/js/"></script> -->
</head>
<body>
    {% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Library Search</h3>
        <div class="box">
            <form action="/search_book", method="post">
                {{ form.hidden_tag() }}
                <div class="field">
                    <div class="control">
                        {{ form.book_title.label }}<br>
                        {{ form.book_title(class="input is-medium", placeholder="Book Title") }}
                        {% for error in form.book_title.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <p>{{ form.submit(class="button is-block is-info is-large is-fullwidth") }}</p>
            </form>
        </div>
    {% endblock %}
</body>


</html>