{% extends "base.html" %}

<body>
    <p>New User? <a href="/register">Click to Register!</a></p>
    {% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Sign In</h3>
        <div class="box">
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="field">
                    <div class="control">
                        {% include "flash.html" %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.username.label(class="label") }}
                        {{ form.username(class="input is-medium", placeholder="username") }}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.password.label(class="label") }}
                        {{ form.password(class="input is-medium", placeholder="password") }}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.rememberMe.label(class="checkbox has-text-weight-bold") }}
                        {{ form.rememberMe(class="checkbox") }}
                    </div>
                </div>
                <p>{{ form.submit(class="button is-block is-info is-large is-fullwidth is-success") }}</p>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
