<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../static/images/library_icon.png">
    <title>{{ title }}</title>

    <!-- Javascript Includes (in alphabetical order)-->
    <!-- Library Includes -->
    <script src="../static/js/extern/jquery-3.5.1.min.js"></script>

    <!-- Project Includes -->
    <!-- <script type="module" src="../static/js/"></script> -->
</head>
<body>
    {% block content %}
        <form action="/search_book", method="post">
            <p>
                {{ form.book_title.label }}<br>
                {{ form.book_title(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endblock %}
    <!-- <form action="/search_book", method="post">
        <label for="search-book-title">Search A Book:</label><br>
        <input type="text", id="search-book-title">
        <input type="submit" value="Search" >
    </form> -->
</body>


</html>