{% include "flash.html" %}
{% extends "base.html" %}

<head>
    <link rel="icon" href="../static/images/library_icon.png">
</head>
<body>

    {% block content %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Sign Up</h3>
        <div class="box">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="field">
                    <div class="control">
                        {{ form.fname.label(class="label") }}
                        {{ form.fname(class="input is-medium", placeholder="First Name") }}
                        {% for error in form.fname.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.lname.label(class="label") }}
                        {{ form.lname(class="input is-medium", placeholder="Last Name") }}
                        {% for error in form.lname.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.dob.label(class="label") }}
                        {{ form.dob(class="input is-medium") }}
                        {% for error in form.dob.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.is_employee.label(class="checkbox has-text-weight-bold") }}
                        {{ form.is_employee(class="checkbox") }}
                        {% for error in form.is_employee.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ form.lib_sys_name.label(class="label") }}
                        {{ form.lib_sys_name(class="input is-medium", placeholder="Library System") }}
                        {% for error in form.lib_sys_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ form.lib_name.label(class="label") }}
                        {{ form.lib_name(class="input is-medium", placeholder="Library") }}
                        {% for error in form.lib_name.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        {{ form.username.label(class="label") }}
                        {{ form.username(class="input is-medium", placeholder="username") }}
                        {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.password.label(class="label") }}
                        {{ form.password(class="input is-medium", placeholder="password") }}
                        {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.password2.label(class="label") }}
                        {{ form.password2(class="input is-medium", placeholder="password") }}
                        {% for error in form.password2.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <p>{{ form.submit(class="button is-block is-info is-large is-fullwidth is-success") }}</p>
            </form>
        </div>
    </div>
    {% endblock %}
</body>
