<head>
    <link rel="icon" href="../static/images/library_icon.png">
</head>
<body>
    {% include "flash.html" %}

    {% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.fname.label }}<br>
            {{ form.fname(size=32) }}<br>
            {% for error in form.fname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lname.label }}<br>
            {{ form.lname(size=32) }}<br>
            {% for error in form.lname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.dob.label }}<br>
            {{ form.dob(size=32) }}<br>
            {% for error in form.dob.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.is_employee.label }}
            {{ form.is_employee(size=32) }}<br>
            {% for error in form.is_employee.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lib_sys_name.label }}<br>
            {{ form.lib_sys_name(size=32) }}<br>
            {% for error in form.lib_sys_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.lib_name.label }}<br>
            {{ form.lib_name(size=32) }}<br>
            {% for error in form.lib_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endblock %}
</body>
