Flask==1.1.2
Flask-Login==0.5.0
Flask-SocketIO==4.3.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.3
mysql-connector-python==8.0.27
Werkzeug==1.0.1
pymysql==1.0.2
flask-Table==0.5.0
is-safe-url==1.0
WTForms==2.3.3
